<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <img alt="Road To a Millionaire Web App Logo" src="./assets/img/brandAssets/Transparent/PNG/Logo/Logo%203.png">
        <p>We unlock a seamless journey to VAT compliance that simplifies your business processes with our
          innovative, efficient, and accurate platform!</p>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-3">
            <h3>Road To a Millionaire</h3>
            <ul>
              <li>
                <a href="home">Home</a>
              </li>
              <li>
                <a href="about-us">About us</a>
              </li>
              <li>
                <a href="pricing">Pricing</a>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <h3>Contact</h3>
            <ul>
              <li>
                <a href="mailto:info@roadtoamillionaire.com">info@roadtoamillionaire.com</a>
              </li>
              <li>
                <a href="tel:+31 85 13 00 852">+31 85 13 00 852</a>
              </li>
              <li>
                <a href="contact">Contact</a>
              </li>
              <li>
                <a href="https://calendly.com/vatworkx/45">Book a demo</a>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <h3>Resources</h3>
            <ul>
              <li>
                <a href="expose">Blog</a>
              </li>
              <li>
                <a href="#">System Status</a>
              </li>
              <li>
                <a href="sitemap">Sitemap</a>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <h3>Legal</h3>
            <ul>
              <li>
                <a href="terms-of-service">Terms of Service</a>
              </li>
              <li>
                <a href="privacy-policy">Privacy Policy</a>
              </li>
              <li>
                <a href="cookie-policy">Cookie Policy</a>
              </li>
              <li>
                <a href="dpa">Data Processing Addendum</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
