// Box shadows
$shadow-tiny: 0 .3rem .15rem rgb(0 0 0 / 4%);
$shadow-xxs: 0 .06rem .35rem rgb(0 0 0 / 4%);
$shadow-sm: 0 .12rem .55rem rgb(0 0 0 / 4%);
$shadow-md: 0 .25rem .75rem rgb(0 0 0 / 4%);
$shadow: 0 .5rem 1rem rgb(0 0 0 / 4%);
$shadow-lg: 0 .62rem 1.15rem rgb(0 0 0 / 4%);
$shadow-xl: 0 .75rem 1.35rem rgb(0 0 0 / 4%);
$shadow-xxl: 0 1rem 1.55rem rgb(0 0 0 / 4%);
$shadow-big: 0 1.12rem 1.75rem rgb(0 0 0 / 4%);

// Text shadows
$text-shadow: 0 .06rem .3rem rgb(0 0 0 / 4%);
